name: Build Dylib

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          brew install ldid xz

      - name: Setup Theos
        run: |
          rm -rf ~/theos
          git clone --recursive https://github.com/theos/theos.git ~/theos
          echo "THEOS=~/theos" >> $GITHUB_ENV
          echo "~/theos/bin" >> $GITHUB_PATH

      - name: Setup iOS SDK
        run: |
          rm -rf ~/theos/sdks
          git clone --depth 1 https://github.com/theos/sdks.git ~/theos/sdks

      - name: Build Tweak
        run: |
          export THEOS=~/theos
          ORIGINAL_PATH=$(find . -name "Makefile" -maxdepth 3 | head -n 1)
          ORIGINAL_DIR=$(dirname "$ORIGINAL_PATH")
          
          CLEAN_DIR="tweak_build"
          mv "$ORIGINAL_DIR" "$CLEAN_DIR"
          
          echo "Building in $CLEAN_DIR"
          cd "$CLEAN_DIR"
          
          perl -pi -e 's|/var/theos/|\$(THEOS)/|g' Makefile
          
          make all FINALPACKAGE=1 THEOS=~/theos
          
      - name: Upload Dylib Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FF_Cheat_Dylib
          path: "**/*.dylib"
