name: Build Dylib

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV
          echo "~/theos/bin" >> $GITHUB_PATH

      - name: Setup iOS SDK
        run: |
          # Clonar solo los SDKs necesarios para ahorrar tiempo
          git clone --depth 1 https://github.com/theos/sdks.git ~/theos/sdks

      - name: Build Tweak
        run: |
          export THEOS=~/theos
          # Buscar donde está el Makefile por si la carpeta está anidada
          MAKEFILE_PATH=$(find . -name "Makefile" -maxdepth 2 | head -n 1)
          MAKEFILE_DIR=$(dirname "$MAKEFILE_PATH")
          echo "Building in $MAKEFILE_DIR"
          cd "$MAKEFILE_DIR"
          make clean all FINALPACKAGE=1

      - name: Upload Dylib Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FF_Cheat_Dylib
          path: |
            **/FF.dylib
            !.theos/obj/*
